.button {
    background: $blue;
    color: white;
    padding: 2rem;
    font-size: $font-size-large;
    border: 0;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
    text-decoration: none;
}

.button--secondary {
    background: #888888;
}